/** @format */

.counter {
  color: orangered;
}

/** task1 lesson3*/
.value {
  font-size: 20px;
}

.limit {
  color: red;
  font-weight: bold;
  font-size: 28px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
